In [2]:
import numpy as np
import scanpy as sc
import pandas as pd
import anndata as ad

In [3]:
data = pd.read_csv('/projects/zhanglab/users/johnson/data/GSE75748_sc_cell_type_ec.csv', header = 0, index_col=False)
data.drop(data.columns[0], axis=1, inplace=True)
df = data.transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,19087,19088,19089,19090,19091,19092,19093,19094,19095,19096
H1_Exp1.001,10.00,6.38,0.0,0.00,0.00,84.99,0.0,0.0,18.00,0.00,...,84.00,0.0,0.0,0.00,239.00,101.00,0.00,22.00,32.57,0.0
H1_Exp1.002,162.00,2.62,28.0,133.00,7.06,5.00,0.0,0.0,146.37,4.95,...,40.80,0.0,0.0,187.03,231.00,201.44,0.00,84.46,52.04,0.0
H1_Exp1.003,3.00,166.80,0.0,41.00,52.95,305.00,0.0,0.0,106.84,0.00,...,21.43,0.0,0.0,6.00,169.95,23.31,0.00,19.00,110.97,0.0
H1_Exp1.004,42.00,9.68,1.0,0.00,20.16,41.21,0.0,0.0,9.00,0.00,...,12.03,0.0,0.0,49.00,90.00,164.65,0.00,52.00,73.82,1.0
H1_Exp1.006,0.00,7.32,0.0,0.00,0.00,142.00,0.0,0.0,14.00,5.75,...,41.99,0.0,0.0,26.00,240.18,181.49,0.00,2.00,53.15,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TB_Batch2.140,5.00,23.88,0.0,206.00,0.00,46.02,0.0,0.0,74.00,0.00,...,185.85,0.0,0.0,7.00,0.00,5.24,146.00,0.00,221.86,0.0
TB_Batch2.141,500.96,362.56,0.0,43.04,56.77,90.00,0.0,0.0,15.00,0.00,...,156.63,0.0,0.0,0.00,251.10,79.92,539.00,296.00,166.23,0.0
TB_Batch2.142,18.00,22.72,3.0,2.00,2.04,562.00,0.0,0.0,25.00,0.00,...,10.97,0.0,0.0,28.00,0.00,6.71,0.00,0.00,131.41,0.0
TB_Batch2.143,472.08,36.62,39.0,1.00,0.00,778.63,0.0,0.0,225.66,2.26,...,719.63,0.0,0.0,211.00,2.00,124.06,21.32,271.00,730.10,0.0
TB_Batch2.144,350.00,25.78,0.0,99.00,0.00,468.17,0.0,0.0,398.00,0.00,...,419.15,0.0,0.0,26.00,12.00,60.45,472.01,0.00,297.28,0.0

In [4]:
adata = ad.AnnData(X = df.values,
                        var = pd.DataFrame(index = df.columns),
                        obs = pd.DataFrame(index = data.columns))
adata

/home/yenhsian/miniconda3/lib/python3.11/site-packages/anndata/_core/anndata.py:183: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 1018 × 19097

In [5]:
adata.write_h5ad("GSE75748_processed.h5ad")
adata

AnnData object with n_obs × n_vars = 1018 × 19097